.h-fit{
    height: fit-content;
}
.border-right-dashed{
    border-right: 1px dashed rgba(0, 0, 0, 0.5);
}
.w-5per6{
    width: calc(500%/6);
}
.w-1per6{
    width: calc(100%/6);
}
.fs-4setengah{
    font-size: 1.15rem;
}
.pointer{
    cursor: pointer;
}