.i-search{
    width: 25px;
    height: 25px;
    background: url(svg/search.svg);
    background-repeat: no-repeat;
}
.i-dropdown{
    width: 15px;
    height: 15px;
    background: url(svg/chevron-down-outline.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.i-close{
    width: 25px;
    height: 25px;
    background: url(svg/close-circle.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: white;
}
.i-arrow-right{
    width: 25px;
    height: 25px;
    background: url(svg/arrow-right.svg);
    background-repeat: no-repeat;
}
.i-minus{
    width: 10px;
    height: 10px;
    background: url(svg/minus.svg);
    background-repeat: no-repeat;
}
.i-plus{
    width: 10px;
    height: 10px;
    background: url(svg/plus.svg);
    background-repeat: no-repeat;
}
.i-attachment{
    width: 15px;
    height: 15px;
    background: url(svg/attachment.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.i-delete{
    width: 15px;
    height: 15px;
    background: url(svg/delete.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.i-back{
    width: 15px;
    height: 15px;
    background: url(svg/back.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.i-modify{
    width: 15px;
    height: 15px;
    background: url(svg/modify.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.i-terminate{
    width: 20px;
    height: 20px;
    background: url(svg/terminate.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.i-warning{
    width: 50px;
    height: 50px;
    background: url(svg/warning.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.i-up{
    width: 15px;
    height: 15px;
    background: url(svg/arrow-up.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.i-down{
    width: 15px;
    height: 15px;
    background: url(svg/arrow-down.svg);
    background-size: contain;
    background-repeat: no-repeat;
}